<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar perfil</title>
</head>
<body>
    <div id="message">
        <h1>Perfil de usuario</h1>
        
        <p><strong>Usuario:</strong> <input type="text" id="nombre_usuario"></p>
        <p><strong>Email:</strong> <input type="text" id="email"></p>
        <p><strong>nombre:</strong> <input type="text" id="nombre"></p>
        <p><strong>Apellido:</strong> <input type="text" id="apellido"></p>
        <p><strong>Contraseña:</strong> <input type="text" id="contrasena"></p>
        <p><strong>imagen de Perfil:</strong> <input type="text" id="imagen_perfil"></p>
        
    </div>
    
        </div>
        <input type="submit" value="Guardar Cambios">
        </div>
    <script src="../scripts/modificarPerfil.js"></script>
    </div>
    
</body>
</html>