
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
</head>

<body>
    <div id="message">
        <h1>Perfil de usuario</h1>
        <p><strong>Usuario:</strong> <span id="nombre_usuario"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>nombre:</strong> <span id="nombre"></span></p>
        <p><strong>Apellido:</strong> <span id="apellido"></span></p>
    </div>
    <button id="logout">Logout</button>
    <script src="../scripts/profile.js"></script>
</body>

</html>