<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de clave</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <form action="/enviar_codigo" method="post">
    <div class="box">
        <span class="borderline"></span>
        
            <div class="form">
                <h2>Restablecer contraseña</h2>
                <div class="inputBox">
                    <p>
                    <span>Recibirá un codigo en su email:</span>
                    <br><br><br>
                </p>
                </div>
                <div class="inputBox">
                    <input type="email"  id="email" name="email" required>
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="links">
                    <input type="submit" value="Continuar">
                </div>
            </div>
    </div>
    </form>
</body>
</html>
