<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="boxR">
        <span class="borderline"></span>
        <div class="form">
            <h2>Registro</h2>
            <div class="inputBox">
                <input type="email" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Nombre de usuario</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Nombre</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Apellido</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Contraseña</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="date" required="required">
                <span>Fecha nacimiento</span>
                <i></i>
            </div>
            <div class="links">
                <input type="submit" value="Confirmar">
                <input type="button" value="Cancelar">
            </div>
            
        </div>
    </div>
</body>
</html>