<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidores y canales</title>
</head>
<body>
    <h1>Listado de servidores y canales</h1>
    <br>
    <select id="servidores" onchange="cargarCanales()">
        <!-- Opciones de servidores se cargarán aquí -->
    </select>
    
    <div id="canales">
        <!-- Lista de canales se cargarán aquí -->
    </div>
    <script src="../scripts/servidores.js"></script>
</body>
</html>